.feed-form {
	margin-top: 38px;
	display: flex;
	flex-direction: column;
	width: 300px;
	input {
		height: 50px;
		background: #FFFFFF;
		border-radius: 5px; //сделать кругленькие углы
		margin-bottom: 13px;
		border: none; // убираем черные уголки, но они будут также кругленькие
		padding: 0 20px;
		font-weight: 400;
		font-size: 14px;
		align-items: center;
		color: #4B4B4B;
		&:nth-child(3) 
		{
			margin-bottom: 18px;
		}
	}

}