@media (max-width: 1200px)	
{
	.promo
	{
		.container 
		{
			max-width: 750px;
		}
		&__header
		{
			font-size: 36px;

		}
		&__subheader
		{
			font-size: 20px;
		}

		&__icon
	{
		width: 100px;
		line-height: 12px;
		font-size: 13px;

	}
}

.benefits
{
.container 
	{
		max-width: 750px;
	}
	&__header 
	{
		font-size: 26px;
		line-height: 25px;
	}
	&__card
	{
		width: 245px;	
	}
	&__head
	{
		font-size: 16px;
		line-height: 25px;
	}
	&__text
	{
		font-size: 12px;
		line-height: 15px;
		a
		{
			font-size: 12px;
			line-height: 15px;
		}
	}
}

.consultation 
{
	padding: 80px 0 88px 0;
	.container 
	{
		max-width: 750px;
	}
	&__descr 
	{
		font-size: 18px;
		line-height: 28px;
	}
	.title 
	{
		&_left
		{
			font-size: 34px;
			line-height: 50px;
		}
	}

	.feed-form 
	{
	margin-top: 34px;
	width: 280px;
		input 
		{
			height: 45px;
			margin-bottom: 12px;
			padding: 0 17px;
			font-size: 14px;
			&:nth-child(3) 
			{
				margin-bottom: 16px;
			}
			.button 
			{
				&_submit
				{
					height: 52px;
					font-size: 14px;
				}
			}
		}
	}
}

}

@media(max-width: 991px) 
{
	.promo
	{
	background-size: cover;
	
		.container 
		{
			max-width: 700px;
		}
		&__header
		{
			font-size: 34px;

		}
		&__subheader
		{
			font-size: 18px;
		}
		.button
		{
			&_main
			{
				width: 275px;
				font-size: 15px;
			}
		}

		&__link
		{
			font-size: 14px;
			line-height: 22px;

		}

}

.benefits
{
	.container 
		{
			max-width: 700px;
		}

	&__header 
	{
		font-size: 25px;
		line-height: 24px;
	}
	&__card
	{
		width: 235px;	
	}
	&__head
	{
		font-size: 15px;
	}
}

.consultation 
{
	padding: 75px 0 82px 0;
	.container 
	{
		max-width: 700px;
	}
	&__descr 
	{
		font-size: 16px;
		line-height: 26px;
	}
	.title 
	{
		&_left
		{
			font-size: 32px;
			line-height: 45px;
		}
	}

	.feed-form 
	{
	margin-top: 32px;
	width: 270px;
		input 
		{
			font-size: 12px;
		}
		.button 
		{
			&_submit
			{
				height: 52px;
				font-size: 14px;
			}
		}
	}
}

}

@media(max-width: 767px) {
.promo{
	
.container 
		{
			max-width: 650px;
		}
		&__header
		{
			font-size: 32px;

		}
		&__subheader
		{
			font-size: 16px;
		}
			&__icon
		{
			width: 90px;
			line-height: 10px;
			font-size: 12px;

		}

		.button
		{
			&_main
			{
				width: 250px;
				height: 42px;
				font-size: 14px;
				line-height: 20px;
			}
		}

				&__link
		{
			font-size: 13px;
			line-height: 20px;

		}

	.header 
	{

	&__logo 
	{
		width: 200px;
	}
	&__official
		{
		 font-size: 11px;
		 span
		 {
			 font-size: 15px;
		 }
		}

	&__phone
	  {
		font-size: 15px;
		line-height: 16px;
		}
		&__contacts
		{
		.button 
			{
				width: 133px;
				height: 26px;
				border-radius: 4px;
				font-size: 10px;
			}
		}
	}
}
		
.benefits
{
.container 
		{
			max-width: 650px;
		}

	&__header 
	{
		font-size: 24px;
	}
	&__card
	{
		width: 220px;	
	}
	&__head
	{
		font-size: 14px;
	}
}

.consultation 
{
	padding: 70px 0 78px 20px;
	.container 
	{
		max-width: 650px;
	}
	&__descr 
	{
		font-size: 14px;
		line-height: 24px;
	}
	.title 
	{
		&_left
		{
			font-size: 28px;
			line-height: 35px;
		}
	}

	.feed-form 
	{
	margin-top: 28px;
	width: 280px;
		input 
		{
			height: 40px;
			margin-bottom: 10px;
			padding: 0 14px;
			font-size: 12px;
			&:nth-child(3) 
			{
				margin-bottom: 13px;
			}
		}
		.button 
		{
			&_submit
			{
				height: 48px;
				font-size: 14px;
				line-height: 20px;
			}
		}
	}
}

}

@media(max-width: 575px) 
{
.promo{
	padding: 15px 0 0 0;
.container 
		{
			max-width: 550px;
		}
		&__wrapper 
		{
			align-items: center;
			margin-top: 75px;
		}
		&__header
		{
			font-size: 30px;

		}
		&__icons
		{
			margin-top: 40px;
			width: 375px;
		}
			&__icon
		{
			width: 80px;
		}

		.button
		{
			&_main
			{
				width: 250px;
				height: 42px;
				font-size: 14px;
				line-height: 20px;
			}
		}

				&__link
		{
			font-size: 13px;
			line-height: 20px;

		}

	.header 
	{
		justify-content: space-around;
	&__logo 
	{
		width: 200px;
	}
	&__official
		{
		 display: none;
		}

	&__phone
	  {
		display: none;
		font-size: 15px;
		line-height: 16px;
		}
		&__contacts
		{
		.button 
			{
				width: 133px;
				height: 26px;
				border-radius: 4px;
				font-size: 10px;
			}
		}
	}
}
		
.benefits
{
	padding: 45px 0 43px 0;
.container 
		{
			max-width: 550px;
		}

	&__header 
	{
		font-size: 24px;
	}

	&__wrapper 
	{
		margin-top: 40px;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	&__card
	{
		margin-top: 20px;
		width: 200px;	
	}
	&__head
	{
		margin-top: 15px;
		font-size: 16px;
	}
	&__text
	{
		margin-top: 10px;
		font-size: 14px;
		line-height: 16px;
	
	}
}

.consultation 
{
	padding: 60px 0 68px 0;
	.container 
	{
		max-width: 550px;
	}
	&__descr 
	{
		font-size: 14px;
		line-height: 20px;
		text-align: center;
		margin-top: 15px;
	}
	.title 
	{
		&_left
		{
			text-align: center;
			font-size: 26px;
			line-height: 30px;
		}
	}

	.feed-form 
	{
	margin: 0 auto;
	margin-top: 24px;
	width: 270px;
		input 
		{
			height: 35px;
			padding: 0 12px;
			margin-bottom: 18px;
			&:nth-child(3) 
			{
				margin-bottom: 21px;
			}
		}
		.button 
		{
			
			&_submit
			{
				height: 42px;
				line-height: 20px;
			}
		}
	}
}

}


@media(max-width: 375px) 
{
.promo{
	padding: 15px 0 0 0;
.container 
		{
			max-width: 350px;
		}
		&__wrapper 
		{
			align-items: center;
			margin-top: 75px;
		}
		&__header
		{
			font-size: 25px;

		}
		&__icons
		{
			margin-top: 30px;
			width: 275px;
		}
			&__icon
		{
			width: 70px;
		}

		.button
		{
			&_main
			{
				width: 200px;
				height: 37px;
				font-size: 12px;
				line-height: 16px;
			}
		}

				&__link
		{
			font-size: 12px;
			line-height: 18px;

		}

	.header 
	{
		justify-content: space-around;
	&__logo 
	{
		width: 160px;
	}

		&__contacts
		{
		.button 
			{
				width: 115px;
				height: 23px;
				border-radius: 3px;
				font-size: 10px;
			}
		}
	}
}
		
.benefits
{
	padding: 35px 0 33px 0;
.container 
		{
			max-width: 350px;
		}

	&__header 
	{
		font-size: 20px;
	}

	&__wrapper 
	{
		margin-top: 30px;
	}
	&__card
	{
		margin-top: 15px;
		width: 175px;	
	}
	&__head
	{
		margin-top: 13px;
		font-size: 14px;
	}
	&__text
	{
		margin-top: 8px;
		font-size: 13px;
		line-height: 15px;
	
	
	}
}
.consultation 
{
	padding: 40px 0 48px 0;
	.container 
	{
		max-width: 350px;
	}
	&__descr 
	{
		line-height: 15px;
	}
	.title 
	{
		&_left
		{
			font-size: 22px;
			line-height: 20px;
		}
	}

	.feed-form 
	{
	margin: 0 auto;
	margin-top: 20px;
	width: 200px;
		input 
		{
			margin-bottom: 20px;
			&:nth-child(3) 
			{
				margin-bottom: 24px;
			}
		}
		.button 
		{	
			&_submit
			{
				height: 42px;
				line-height: 20px;
				font-size: 12px;
			}
		}
	}
}

}
